@import url('https://fonts.googleapis.com/css?family=Cinzel|Stylish&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Playfair+Display:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html {
    scroll-behavior: smooth;
}

.row {
    margin: 0px;
}

.main-row {
    padding: 0px;
    margin: 0px;
}

.left-side {
    border-right: 1px solid;
    padding: 0px;
}

.name-container {
    background: #f2f2f2;
    padding: 30px 20px;
    text-align: center;
    height: 150px;
    border-bottom: 1px solid #e2e2e2;
}

.my-name {
    font-size: 45px;
    color: #00BCD4;
    font-family: auto;
    font-weight: normal;
    line-height: 45px;
}

.name-container .full-stack {
    font-size: 14px;
    color: #795548;
    font-family: monospace;
}

/* .sidebar {
    padding: 10px 20px;
}

.sidebar div {
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
} */


/* .sidebar i {
    color: #00BCD4;
}

.sidebar span {
    margin-left: 8px;
} */

.side-menu a {
    width: 100%;
    display: block;
    padding: 8px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.side-menu i {
    font-size: 20px;
    vertical-align: middle;
}

.side-menu:first-child i {
    color: #008073 !important;
    font-size: 22px;
    margin-right: 5px;
}

.active {
    font-weight: 600;
    letter-spacing: 1px;
}

.side-menu:first-child a:hover {
    background: #f2f2f2;
    border-left: 5px solid #008073;
}

.side-menu:first-child .active {
    border-left: 5px solid #008073;
}

.side-menu:nth-child(2) i {
    color: #00bcd4 !important;
}

.side-menu:nth-child(2) a:hover {
    background: #f2f2f2;
    border-left: 5px solid #00bcd4;
}

.side-menu:nth-child(2) .active {
    border-left: 5px solid #00bcd4;
}

.side-menu:nth-child(3) i {
    color: #3f51b5 !important;
}

.side-menu:nth-child(3) a:hover {
    background: #f2f2f2;
    border-left: 5px solid #3f51b5;
}

.side-menu:nth-child(3) .active {
    border-left: 5px solid #3f51b5;
}

.side-menu:nth-child(4) i {
    color: #9c27b0 !important;
}

.side-menu:nth-child(4) a:hover {
    background: #f2f2f2;
    border-left: 5px solid #9c27b0;
}

.side-menu:nth-child(4) .active {
    border-left: 5px solid #9c27b0;
}

.side-menu:nth-child(5) i {
    color: #F44336 !important;
}

.side-menu:nth-child(5) a:hover {
    background: #f2f2f2;
    border-left: 5px solid #F44336;
}

.side-menu:nth-child(5) .active {
    border-left: 5px solid #F44336;
}

.side-menu:nth-child(6) i {
    color: #ff9800 !important;
}

.side-menu:nth-child(6) a:hover {
    background: #f2f2f2;
    border-left: 5px solid #ff9800;
}

.side-menu:nth-child(6) .active {
    border-left: 5px solid #ff9800;
}


.side-menu:nth-child(7) i {
    color: #795548 !important;
}

.side-menu:nth-child(7) a:hover {
    background: #f2f2f2;
    border-left: 5px solid #795548;
}

.side-menu:nth-child(7) .active {
    border-left: 5px solid #795548;
}

.side-menu span {
    font-size: 17px;
    vertical-align: middle;
    color: #888;
    margin-left: 15px;
}

.side-menu a:hover {
    background-color: #fff;
    animation-name: example;
    animation-duration: .5s;
}






/* Standard syntax */
@keyframes example {
    from {
        background-color: #fff;
        border-left-width: 1px;
    }

    to {
        background-color: #f2f2f2;
        border-left-width: 5px;
    }
}


.right-side {
    padding: 0px;
    background-image: url('../assets/bg.png');
    /* background-color: #000; */
    height: 100vh;
    overflow: auto;
}

.front-page {
    /* background-image: url('../assets/home-bg.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-color: #000;
    height: 100vh;
}

.font-page-layer {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: relative;
}

.front-page .front-content {
    position: absolute;
    top: 34%;
    color: #fff;
    text-align: center;
    width: 100%;
}

.front-line-1 {
    font-size: 100px;
}

.front-line-1 span {
    color: #FF5722;
}

.front-line-2 {
    font-size: 30px;
}

.view-my-experience {
    border: 1px solid #f2f2f2;
    padding: 10px 16px;
    width: 200px;
    margin: auto;
    margin-top: 15px;
    border-radius: 3px;
}

.view-my-experience span {
    display: block;
    font-size: 18px
}

.view-my-experience i {
    font-size: 30px;
    display: block;
    margin-top: 8px;
    font-weight: normal;
}

.view-my-experience:hover {
    background: #000;
    cursor: pointer;
    box-shadow: 5px 5px 10px #000;
}

.heading {
    background: #008073 !important;
    color: #fff;
    padding: 15px 25px;
    font-size: 40px;
    letter-spacing: 1px;
    font-family: 'Cinzel', serif;
    font-family: 'Playfair Display', serif;
    text-shadow: 5px 7px 10px #000;
    letter-spacing: 5px;
}

.section-info {
    background-image: url('../assets/bg.png');
    padding: 40px 50px;
    /* background: #f2f2f2; */
}

.contact-info {
    margin: 30px 0px 30px 20px;
}

.contact-info i {
    background: #000;
    color: #fff;
    width: 55px;
    vertical-align: middle;
    text-align: center;
    height: 55px;
    border-radius: 50%;
    line-height: 55px;
    box-shadow: 3px 4px 6px #000;
    font-size: 1.6rem;
}

.contact-info a {
    margin-left: 15px;
    font-size: 18px;
    vertical-align: middle;
    color: teal;
    font-family: 'Stylish', sans-serif;
}

.education-card,
.skills-card {
    padding: 15px 20px;
    border: none;
    box-shadow: 2px 2px 6px grey;
}


.skills-card {
    background: #fff;
}

.skills-card .skill {
    display: inline-block;
    width: 150px;
    text-align: center;
    margin-bottom: 25px;
}

.skill i,
.skill span {
    display: block;
}

.skill img {
    width: 60px;
}

.skill i {
    font-size: 60px;
}

.skill span {
    font-family: 'Stylish', sans-serif;
    color: #008073;
}

.college-name a {
    font-size: 25px;
    color: teal;
    line-height: 25px;
}

.education-city {
    color: gray;
    font-size: 14px;
}

.education-course {
    font-size: 20px;
    color: #FF5722;
    display: block;
}

.education-stream {
    font-size: 13px;
    color: #00BCD4;
    font-style: italic;
}

.experience-container {
    margin: 50px;
}

.experience-card {
    margin-top: 40px;
    margin-bottom: 40px;
}

.experience-card img {
    width: 100%;
    border-radius: 40px;
    /* margin-top: 35px; */
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    transition: 0.4s;
    height: 320px;
}

.experience-card img:hover,
.ex-card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.ex-card {
    background: black;
    border-radius: 10px;
    height: 320px;
    /* margin-top: 35px; */
    overflow: hidden;
    box-shadow: 4px 4px 10px #000;
    color: #f2f2f2;
    padding: 0px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    transition: 0.4s
}

.experience-header {
    /* margin: 5px; */
    border-bottom: 1px solid cyan;
    font-family: 'Playfair Display', serif;
    padding: 5px;
}

.experience-company {
    font-size: 25px;
}

.ex-body {
    padding: 5px 20px;
    height: 240px;
}

.ex-about {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.ex-detail-heading {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    letter-spacing: 1px
}

.ex-details {
    font-style: italic;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;

}

.ex-footer {
    border-top: 1px solid cyan;
    padding: 5px 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}


.experience-position {
    font-size: 13px;
    color: cyan;
    font-style: italic;
    margin-left: 10px;
    font-weight: 500;
    letter-spacing: 1px;
}

.project-card {
    background: #fff;
    box-shadow: 1px 3px 5px gray;
    margin-bottom: 30px;
    height: 430px;
}

.project-card img {
    width: 100%;
    height: 240px;
}

.project-details {
    padding: 15px;
}

.project-name a {
    font-size: 22px;
    color: #03A9F4;
    vertical-align: middle;
}


.project-desc {
    font-size: 12px;
    font-style: italic;
    color: #888;
}

.project-type {
    font-style: italic;
    background: #FF5722;
    padding: 2px 10px;
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
    float: right;
    display: block;
    margin-top: 8px;
}

.project-technologies {
    color: teal;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
}

.project-role,
.project-members {
    font-size: 12px;
    color: #795548;
}

.project-members i,
.project-role i {
    margin-right: 5px;
}

.about-container {
    padding: 60px 55px;
}

.short-bio {
    border-left: 5px solid #607D8B;
    font-size: 28px;
    padding: 2px 20px;
    color: #607D8B;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Playfair Display', serif;
    /* text-shadow: 3px 5px 6px grey; */
}

.about-myself {
    margin-top: 15px;
    font-size: 16px;
    /* font-family: 'PT Sans Narrow', sans-serif; */
    font-family: 'Arvo', serif;
    font-weight: 100;
    /* font-family: 'Old Standard TT', serif; */
    /* text-shadow: 3px 5px 6px grey; */
    /* font-style: italic; */
    font-family: 'Raleway', sans-serif;

}

.current-focus {
    font-size: 16px;
    /* text-shadow: 3px 5px 6px grey; */
    /* font-style: italic; */
    font-family: 'Playfair Display', serif;
    letter-spacing: .8px;
}

.current-focus span {
    color: teal;
    margin-left: 10px;
    font-style: italic;
    letter-spacing: 1px;
    font-family: 'Old Standard TT', serif;

}

.current-focus span:not(:last-child)::after {
    content: ' //';
    color: #000;
}

@media only screen and (max-width: 600px) {
    .left-side {
        display: none;
    }

    .front-content {
        top: 30%;
    }

    .front-line-1 {
        font-size: 70px;
    }

    .front-line-2 {
        font-size: 20px;
    }

    .about-container {
        padding: 20px;
    }

    .experience-container,
    .section-info {
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
    }

    .skills-card {
        margin: 10px;
    }

    .education-card {
        margin-bottom: 15px;
    }
}

#about {
    scroll-behavior: smooth;
}

.footer-div {
    height: 45vh;
}

.F1-edu-container {
    margin-top: 30px;
    margin-bottom: 60px;

}

.F1-edu-img {
    width: 100%;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    transition: 0.4s;
    height: 200px;
}

.F1-edu-card {
    background: black;
    border-radius: 10px;
    height: 200px;
    /* margin-top: 35px; */
    overflow: hidden;
    box-shadow: 4px 4px 10px #000;
    color: #f2f2f2;
    padding: 0px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    transition: 0.4s
}

.F1-edu-img:hover,
.F1-edu-card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.F1-edu-card-header {
    /* margin: 5px; */
    border-bottom: 1px solid cyan;
    /* font-family: 'Playfair Display', serif; */
    padding: 8px 15px;
    font-family: 'Old Standard TT', serif;
}

.F1-edu-card-header a {
    color: #fff;
    font-size: 20px;
}

.F1-edu-cart-content {
    padding: 10px 16px;
    font-family: 'Raleway', sans-serif;
}

.F1-edu-cart-content i {
    display: inline-block;
    width: 25px;
    font-size: 20px;
    margin-right: 8px;
}

.F1-edu-cart-content div {
    margin-bottom: 10px;
}